sudo: required
dist: trusty

language: c

env:
  global:
    - BUILD_DIR="$TRAVIS_BUILD_DIR/build"
    - secure: "Dw0r4cbZoT0QoIlI7XWLdhPQxL62CQzskdw3tUth4eSWJd/0IIvLq/ogaZZbYWGH4lifI4p5NMzEpHJ5yFjWnO/ZcpVTZ26SJEFwfBrPUzeu3MV30poX89EYxWz+dE4xPFKzAAKnemlcVxfTHE+z3vW5klnjg5bRH3+pFKoFVBX6M2ABPXcigkpbd1dnXqQK+36v0yx/SF4Yg607vLLPVfcmcU+ohT52OENVkoeEllOxmGxdVfdskEVQ9O16BbtxNSthYQFplvFn5RrpvknRarby51E+7eMf9sOey2H6MWtZYFKXKiascUz5ZLPIt0mFCW1x2wFC39cxMZNFURg+hHlGKUGV9Bt7B7K/XAwvPhY6X+td4OYPR2B68vywxpPlShiTg8iduYg1H4bdVzt+1qdRHsg2qmyJe5eQBMwW5fEVOffJhfVAiG5ceDWzQJQt5cEKn/2yxt1bX3sC7Hl6lzTQ1X6DuLWi9cCsKqsAB7ht/ZC1m13YGRyjghG9RDsRfM2FPy0w0iOHDAGrNzQVPPDDxxgNi/xpmqPlkvjRSz3Pmj6VeAZ2cG68pls+oKyzcWEhCeSL3uT3ShKBfrpQcFxVFzsdTWzH6XYul/HHrUnYKGtd3K1MW59Dng5WcD5xi8n76/wmlkXUoWmYNjfGsP5wwcz/yLfc/CRDRB3P4jo="
  matrix:
     - env:
       - COMPILER=clang CONFIG=configH0I1.fti LEVEL=1
     - env:
       - COMPILER=clang CONFIG=configH0I1.fti LEVEL=2
     - env:
       - COMPILER=clang CONFIG=configH0I1.fti LEVEL=3
     - env:
       - COMPILER=clang CONFIG=configH0I1.fti LEVEL=4
     - env:
       - COMPILER=clang CONFIG=configH1I1.fti LEVEL=1
     - env:
       - COMPILER=clang CONFIG=configH1I1.fti LEVEL=2
     - env:
       - COMPILER=clang CONFIG=configH1I1.fti LEVEL=3
     - env:
       - COMPILER=clang CONFIG=configH1I1.fti LEVEL=4
     - env:
       - COMPILER=clang CONFIG=configH1I0.fti LEVEL=1
     - env:
       - COMPILER=clang CONFIG=configH1I0.fti LEVEL=2
     - env:
       - COMPILER=clang CONFIG=configH1I0.fti LEVEL=3
     - env:
       - COMPILER=clang CONFIG=configH1I0.fti LEVEL=4
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH0I1.fti LEVEL=1
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH0I1.fti LEVEL=2
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH0I1.fti LEVEL=3
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH0I1.fti LEVEL=4
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I1.fti LEVEL=1
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I1.fti LEVEL=2
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I1.fti LEVEL=3
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I1.fti LEVEL=4
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I0.fti LEVEL=1
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I0.fti LEVEL=2
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I0.fti LEVEL=3
     - env:
       - MPICC=mpiicc MPIFC=ifort CONFIG=configH1I0.fti LEVEL=4
     - env:
       - USE_PGI=true CONFIG=configH0I1.fti LEVEL=1
     - env:
       - USE_PGI=true CONFIG=configH0I1.fti LEVEL=2
     - env:
       - USE_PGI=true CONFIG=configH0I1.fti LEVEL=3
     - env:
       - USE_PGI=true CONFIG=configH0I1.fti LEVEL=4
     - env:
       - USE_PGI=true CONFIG=configH1I1.fti LEVEL=1
     - env:
       - USE_PGI=true CONFIG=configH1I1.fti LEVEL=2
     - env:
       - USE_PGI=true CONFIG=configH1I1.fti LEVEL=3
     - env:
       - USE_PGI=true CONFIG=configH1I1.fti LEVEL=4
     - env:
       - USE_PGI=true CONFIG=configH1I0.fti LEVEL=1
     - env:
       - USE_PGI=true CONFIG=configH1I0.fti LEVEL=2
     - env:
       - USE_PGI=true CONFIG=configH1I0.fti LEVEL=3
     - env:
       - USE_PGI=true CONFIG=configH1I0.fti LEVEL=4
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=1 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=1 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=1 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=1 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=1 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=1 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=2 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH0I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=1
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=2
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=0 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=3 CKPTORPTNER=1 CORRORERASE=1 CORRUPTIONLEVEL=3
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=4 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=4 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=4 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I1Silent.fti LEVEL=4 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=4 CKPTORPTNER=0 CORRORERASE=0 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes CONFIG=configH1I0Silent.fti LEVEL=4 CKPTORPTNER=0 CORRORERASE=1 CORRUPTIONLEVEL=0
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH0I1Silent.fti LEVEL=1
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH0I1Silent.fti LEVEL=2
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH0I1Silent.fti LEVEL=3
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH0I1Silent.fti LEVEL=4
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I1Silent.fti LEVEL=1
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I1Silent.fti LEVEL=2
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I1Silent.fti LEVEL=3
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I1Silent.fti LEVEL=4
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I0Silent.fti LEVEL=1
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I0Silent.fti LEVEL=2
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I0Silent.fti LEVEL=3
     - env:
       - TEST=diffSizes NOTCORRUPT=1 CONFIG=configH1I0Silent.fti LEVEL=4
     - env:
       - TEST=heatdis CONFIG=configH0I1Silent.fti
     - env:
       - TEST=heatdis CONFIG=configH1I1Silent.fti
     - env:
       - TEST=heatdis CONFIG=configH1I0Silent.fti
     - env:
       - TEST=nodeFlag CONFIG=configH0I1.fti
     - env:
       - TEST=nodeFlag CONFIG=configH1I1.fti
     - env:
       - TEST=nodeFlag CONFIG=configH1I0.fti
     - env:
       - TEST=addInArray CONFIG=configH0I1Silent.fti LEVEL=1
     - env:
       - TEST=addInArray CONFIG=configH0I1Silent.fti LEVEL=2
     - env:
       - TEST=addInArray CONFIG=configH0I1Silent.fti LEVEL=3
     - env:
       - TEST=addInArray CONFIG=configH0I1Silent.fti LEVEL=4
     - env:
       - TEST=addInArray CONFIG=configH1I1Silent.fti LEVEL=1
     - env:
       - TEST=addInArray CONFIG=configH1I1Silent.fti LEVEL=2
     - env:
       - TEST=addInArray CONFIG=configH1I1Silent.fti LEVEL=3
     - env:
       - TEST=addInArray CONFIG=configH1I1Silent.fti LEVEL=4
     - env:
       - TEST=addInArray CONFIG=configH1I0Silent.fti LEVEL=1
     - env:
       - TEST=addInArray CONFIG=configH1I0Silent.fti LEVEL=2
     - env:
       - TEST=addInArray CONFIG=configH1I0Silent.fti LEVEL=3
     - env:
       - TEST=addInArray CONFIG=configH1I0Silent.fti LEVEL=4

addons:
  coverity_scan:
    project:
      name: sclaomir/fti
      description: Fault Tolerance Interface
    notification_email: scan_notifications@example.com
    build_command_prepend: cmake ..
    build_command: make
    branch_pattern: devel

os:
  - linux

cache:
  apt: true

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y cmake
  - if [[ "$COMPILER" = "clang" ]] ; then export CC=clang && sudo apt-get install -y gfortran openmpi-bin libopenmpi-dev ; fi
  - if [[ "$TEST" != "" ]] ; then sudo apt-get install -y gfortran openmpi-bin libopenmpi-dev ; fi
  - if [[ "$MPICC" = "mpiicc" ]] ; then source ./travisScripts/before-script-icc.sh ; fi
  - if [[ "$USE_PGI" = "true" ]] ; then source ./travisScripts/before-script-pgi.sh ; fi

before_script:
  - mkdir $BUILD_DIR
  - cd $BUILD_DIR
  - cmake ..
  - make all
  - sudo make install

script:
  - ./test/tests.sh
